* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: orange;
    color: #fff;
    padding: 1rem;
}

.login-button {
	float: right;
	margin-top: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

main {
    padding: 2rem;
}

.place-card, .review-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 200px;
  text-align: center;
  align-content: center;
}

#places-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.details-button {
  background-color: orange;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

footer {
	background-color: orange;
}

h2 {
	text-align: center;
}

#filter {
	text-align: center;
}

.p {
	color: white;
	text-align: center;
}